.section-1{
    display: grid;
    grid-template-columns: 55% 45%;
    box-sizing: border-box;
    margin: 3rem 0;
}
.section-1 .content-section{
    margin: 1rem;
}

.section-3{
    margin: 0 3rem;
}
.section-accordion-container{
    display: none;
}
.section-3 .section-slideshow-container{
    position: relative;
}
.section-3 .section-slideshow-container .mySlides {
    display: none;
}
.section-3 .section-slideshow-container .cursor {
    cursor: pointer;
  }

  .section-3 .section-slideshow-container .row{
    display: flex;
    justify-content: center;
}


/* Six columns side by side */
.section-3 .section-slideshow-container .column {
width: 7rem;
margin: 0 1rem ;
}

/* Add a transparency effect for thumnbail images */
.section-3 .section-slideshow-container .demo {
opacity: 0.6;
margin: 5px;    
}

.section-3 .section-slideshow-container .active,
.section-3 .section-slideshow-container .demo:hover {
    opacity: 1;
    margin: 0;
}  

.section-4 .portfolio-clients{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    box-sizing: border-box;
    margin: 3rem;
    text-align: center;
}
.section-4 .clients-image{
    margin: 3px;
    background-color: #ebe6e6;
}  
.section-4 .clients-image:hover{
    margin: -1px;
}
.section-5,.section-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    background-image: linear-gradient(180deg,white, #eeeeee);
}
.section-5 .slider-container{
    position: relative;
    /* border: 1px solid green; */
    width: 400px;
    height: 200px;
    margin: auto;
    overflow: hidden;

}
.section-6 .slider-container{
    position: relative;
    /* border: 1px solid green; */
    width: 400px;
    height: fit-content;
    margin: auto;
    overflow: hidden;

}
.section-5 .slider-container .content,.section-6 .slider-container .content{
    display: flex;
    
}
.section-5 .slider-container .content .slide{
    display: grid;
    grid-template-columns: auto  auto;
    height: 200px;
    
    box-sizing: border-box;
}
.section-6 .slider-container .content .slide{
    display: grid;
    grid-template-columns: 100%  ;
    height: 300px;
    width: 100%;
    /* padding: 2rem; */
    box-sizing: border-box;
    /* border:1px solid gray; */
}
.section-5 .slider-container .content .slide .content-container{
    margin:0 2rem;
    width: 250px;
    /* border: 1px solid blue; */
}
.section-6 .slider-container .content .slide .content-container{
    /* margin:0 2rem; */
    width: 100%;
    height: fit-content;
    margin-top: -2.5rem;
    box-sizing: border-box;
    /* border: 1px solid blue; */

}
.section-5 .slider-container .content .slide .slider-image{
    width: 100px;
    height: 150px;
    padding: 1rem;
    /* border: 1px solid red; */
    
}
.section-6 .slider-container .content .slide .slider-image{
    width: 426px;
    height: 200px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    
}
.section-5 .dot,.section-6 .dot{
    height: 15px;
  width: 15px;
  margin: -5px 5px ;
  background-color: rgb(207, 204, 204);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.section-5 .consultation-card{
    border: 1px solid gray;
    border-radius: 1rem;
    width: 70%;
    margin-top: 1rem;
    padding: 2rem;
    height: fit-content;
    box-sizing: border-box;
}
.section-6 .portfolio-clients{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    box-sizing: border-box;
    margin: 3rem;
    text-align: center;
}
.section-6 .portfolio-clients .image-container{
    margin: 1rem;
}
@media(max-width:1000px){
    .section-1 .content-section .content-heading{
        font-size:2.5rem ;
    }
    .section-4 .portfolio-clients{
        grid-template-columns: auto auto auto auto;
    }
    
}

@media(max-width:800px){
    .section-1{
        grid-template-columns: auto;
    }
    .section-3 .section-slideshow-container{
        display: none;
    }
    .section-3 .section-accordion-container{
        display: block;
    }
    .section-4 .portfolio-clients{
        grid-template-columns: auto auto auto ;
    }
    .section-6 .portfolio-clients{
        grid-template-columns: auto auto ;
    }
    
}
@media(max-width:550px){
    .section-4 .portfolio-clients{
        grid-template-columns: auto auto ;
    }
    .section-5 .slider-container{
        width: 200px;
        height: 150px;
    }
    .section-5 .slider-container .content .slide .slider-image{
        width: 40px;
        height: auto;
    }
    .section-5 .slider-container .content .slide .content-container{
        width: 100px;
        height: auto;
        
    }
    .section-6 .slider-container{
        width: 200px;
        height: 150px;
        /* margin: 0; */
    }
    .section-6 .slider-container .content .slide .slider-image{
        width: 200px;
        height: 120px;
    }
    .section-6 .slider-container .content .slide .content-container{
        width: 100%;
        height: 30px;
        margin: -7rem 0;
    }
    .section-6 .portfolio-clients{
        grid-template-columns: auto ;
    }
}